.mapTable {
    border: 1px dashed white;
}

table.mapTable {
    border: 0px dashed white;
    table-layout: fixed;
}

td.mapCell {
    border: 0px dashed white;
    width: 32px;
    height: 32px;
    max-height: 32px;
    max-width: 32px;
    min-height: 32px;
    min-width: 32px;
}
/*
Tileset by yd
http://opengameart.org/content/snowdesertwater-tiles

Map elements by Jinn
http://opengameart.org/content/world-map-tiles

*/

.mapCell {
    width: 32px;
    height: 32px;
    background-image: url('./img/tiles/water.png');
}

.groundCell {
    width: 32px;
    height: 32px;
    background-image: url('./img/tiles/ground/full.png');
    background-size: 100% 100%;
    position: absolute;
}

.partGroundCell {
    width: 32px;
    height: 32px;
    position: absolute;
}

.forestCell {
    width: 32px;
    height: 32px;
    position: absolute;
    opacity: 0.9;
}

.groundCellCorner0 {
    width: 32px;
    height: 32px;
    background-image: url('./img/tiles/ground/corner0.png');
    background-size: 100% 100%;
}

.groundCellCorner1 {
    width: 32px;
    height: 32px;
    background-image: url('./img/tiles/ground/corner1.png');
    background-size: 100% 100%;
}

.groundCellCorner2 {
    width: 32px;
    height: 32px;
    background-image: url('./img/tiles/ground/corner2.png');
    background-size: 100% 100%;
}

.groundCellCorner3 {
    width: 32px;
    height: 32px;
    background-image: url('./img/tiles/ground/corner3.png');
    background-size: 100% 100%;
}

.groundCellSingle0 {
    width: 32px;
    height: 32px;
    background-image: url('./img/tiles/ground/single0.png');
    background-size: 100% 100%;
}

.groundCellSingle1 {
    width: 32px;
    height: 32px;
    background-image: url('./img/tiles/ground/single1.png');
    background-size: 100% 100%;
}

.groundCellSingle2 {
    width: 32px;
    height: 32px;
    background-image: url('./img/tiles/ground/single2.png');
    background-size: 100% 100%;
}

.groundCellSingle3 {
    width: 32px;
    height: 32px;
    background-image: url('./img/tiles/ground/single3.png');
    background-size: 100% 100%;
}

.groundCellSurrounded0 {
    width: 32px;
    height: 32px;
    background-image: url('./img/tiles/ground/surrounded2.png');
    background-size: 100% 100%;
}

.groundCellSurrounded1 {
    width: 32px;
    height: 32px;
    background-image: url('./img/tiles/ground/surrounded1.png');
    background-size: 100% 100%;
}

.groundCellSurrounded2 {
    width: 32px;
    height: 32px;
    background-image: url('./img/tiles/ground/surrounded0.png');
    background-size: 100% 100%;
}

.groundCellSurrounded3 {
    width: 32px;
    height: 32px;
    background-image: url('./img/tiles/ground/surrounded3.png');
    background-size: 100% 100%;
}

.groundCellBridge0 {
    width: 32px;
    height: 32px;
    background-image: url('./img/tiles/ground/bridge0.png');
    background-size: 100% 100%;
}

.groundCellBridge1 {
    width: 32px;
    height: 32px;
    background-image: url('./img/tiles/ground/bridge1.png');
    background-size: 100% 100%;
}

.groundCellIsland {
    width: 32px;
    height: 32px;
    background-image: url('./img/tiles/ground/island.png');
    background-size: 100% 100%;
}

.forestCell0 {
    width: 32px;
    height: 32px;
    background-image: url('./img/tiles/forests/forest0.png');
    background-size: 100% 100%;
    z-index: 5;
    position: absolute;
    opacity: 0.8;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.forestCell1 {
    width: 32px;
    height: 32px;
    background-image: url('./img/tiles/forests/forest1.png');
    background-size: 100% 100%;
    z-index: 5;
    position: absolute;
    opacity: 0.8;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.forestCell2 {
    width: 32px;
    height: 32px;
    background-image: url('./img/tiles/forests/forest2.png');
    background-size: 100% 100%;
    z-index: 5;
    position: absolute;
    opacity: 0.8;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.forestCell3 {
    width: 32px;
    height: 32px;
    background-image: url('./img/tiles/forests/forest3.png');
    background-size: 100% 100%;
    z-index: 5;
    position: absolute;
    opacity: 0.8;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.mountainCell {
    width: 32px;
    height: 32px;
    background-image: url('./img/tiles/mountain.png');
    background-size: 100% 100%;
    z-index: 5;
    position: absolute;
    opacity: 0.8;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

#panel {
    display: block;
    width: auto;
    height: auto;
    z-index: 5;
}
